//colores
$primario: #d5142c;
$secundario: #FFD520;
$tercero: #DADADA;
$cuarto: #E5E5E5;
$quinto: #174AE0;

$gestion: #2663da;
$ingenieria: #35ef6a;
$educacion: #00c99c;
$ciencias: #4ac0ff;
$salud: #d73dff;

$color1: #FF0C29;
$color2: #A80433;
$color3: #76E97A;

$desktop1020_title_size: 3rem;
$desktop1020_subtitle_size: 2rem;
$desktop1020_width: 87rem;

$desktop1300_title_size: 3.5rem;
$desktop1300_subtitle_size: 2rem;
$desktop1300_width: 106rem;

$width_mobile: 27rem;
$width_mobile_400: 32rem;
$width_tablet: 70rem;
$width_desktop_1020: 90rem;
$width_desktop_1200: 110rem;
$width_desktop_1280: 115rem;
$width_desktop_1360: 125rem;
$width_desktop_1800: 150rem;

$padding1020left: 7rem;
$padding1020right: 7rem;

//media queries
$phone_300: 300px;
$phone_320: 320px;
$phone_340: 340px;
$phone_360: 360px;
$phone_375: 375px;
$phone_380: 380px;
$phone_390: 390px;
$phone_400: 400px;
$phone_410: 410px;
$phone_420: 420px;
$phone_428: 428px;
$phone_440: 440px;
$phone_460: 460px;
$phone_480: 480px;
$phone_500: 500px;
$phone_520: 520px;
$phone_540: 540px;
$phone_560: 560px;
$phone_580: 580px;
$phone_600: 600px;
$tablet_620: 620px;
$tablet_640: 640px;
$tablet_660: 660px;
$tablet_680: 680px;
$tablet_700: 700px;
$tablet_720: 720px;
$tablet_740: 740px;
$tablet_760: 760px;
$tablet_768: 768px;
$tablet_780: 780px;
$tablet_800: 800px;
$tablet_810: 810px;
$tablet_820: 820px;
$tablet_834: 834px;
$tablet_840: 840px;
$tablet_860: 860px;
$tablet_880: 880px;
$tablet_900: 900px;
$tablet_920: 920px;
$tablet_940: 940px;
$tablet_960: 960px;
$tablet_980: 980px;
$desktop_1000: 1000px;
$desktop_1020: 1020px;
$desktop_1024: 1024px;
$desktop_1040: 1040px;
$desktop_1060: 1060px;
$desktop_1080: 1080px;
$desktop_1100: 1100px;
$desktop_1114: 1114px;
$desktop_1116: 1116px;
$desktop_1120: 1120px;
$desktop_1140: 1140px;
$desktop_1160: 1160px;
$desktop_1180: 1180px;
$desktop_1200: 1200px;
$desktop_1220: 1220px;
$desktop_1240: 1240px;
$desktop_1260: 1260px;
$desktop_1280: 1280px;
$desktop_1300: 1300px;
$desktop_1320: 1320px;
$desktop_1340: 1340px;
$desktop_1360: 1360px;
$desktop_1380: 1380px;
$desktop_1400: 1400px;
$desktop_1420: 1420px;
$desktop_1440: 1440px;
$desktop_1460: 1460px;
$desktop_1480: 1480px;
$desktop_1500: 1500px;
$desktop_1520: 1520px;
$desktop_1540: 1540px;
$desktop_1560: 1560px;
$desktop_1580: 1580px;
$desktop_1600: 1600px;
$desktop_1620: 1620px;
$desktop_1640: 1640px;
$desktop_1660: 1660px;
$desktop_1680: 1680px;
$desktop_1700: 1700px;
$desktop_1720: 1720px;
$desktop_1740: 1740px;
$desktop_1760: 1760px;
$desktop_1780: 1780px;
$desktop_1800: 1800px;
$desktop_1820: 1820px;
$desktop_1840: 1840px;
$desktop_1860: 1860px;
$desktop_1880: 1880px;
$desktop_1900: 1900px;
$desktop_1920: 1920px;
$desktop_1940: 1940px;
$desktop_1960: 1960px;
$desktop_1980: 1980px;
$desktop_2000: 2000px;
$desktop_2048: 2048px;
$desktop_2240: 2240px;
$desktop_2304: 2304px;
$desktop_2560: 2560px;
$desktop_3200: 3200px;
$desktop_3840: 3840px;

$height_600: 600px; 
$height_620: 620px; 
$height_640: 640px; 
$height_660: 660px; 
$height_680: 680px; 
$height_700: 700px; 
$height_720: 720px; 
$height_740: 740px; 
$height_760: 760px; 
$height_775: 775px;
$height_780: 780px; 
$height_800: 800px; 
$height_820: 820px; 
$height_840: 840px; 
$height_860: 860px; 
$height_880: 880px; 
$height_900: 900px; 
$height_920: 920px; 
$height_940: 940px; 
$height_960: 960px; 
$height_980: 980px; 
$height_1000: 1000px; 
$height_1020: 1020px; 
$height_1040: 1040px; 
$height_1060: 1060px; 
$height_1080: 1080px; 
$height_1300: 1300px;